   <header>
	<div id="logo">
		<%= link_to logo, root_path %>
		</div>
	 
	<nav class="round">
		<ul>
			<li><%= button_link_to "Home",root_path %></li>
			<li><%= button_link_to "About Us",about_path %></li>
			<li><%= add_button_link_to "Sign in",'#'%></li>
			<li><%= button_link_to "Help",help_path %></li>
		</ul>
	</nav>
   </header>
